@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    
  }
  
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vw;
    background-color: #102125    ;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 0.9vw;
}
.head{
  font-family:  'Signika Negative', sans-serif;
  font-weight: normal;
}
.content{
  width:32vw;
  margin-top: 5vw;
}
/* #main{
  display: inline-block;
} */
#dealer{
  border-radius: 0vw 0vw 1vw 1vw;
}

.buttons{
  background-color: black;
  border-radius:1vw 1vw 0vw 0vw;
  
}
form{
  margin-bottom: 3.5vw;
  padding-left: 2vw;
}

#dealerButton, #customerButton{
  display: inline-block;
  padding:1vw;
  padding-left: 6.5vw;
padding-right: 5.8vw;
  color: white;
  font-size: 0.8vw;
  /* width: 15vw; */
}
#customerButton{
  background-color:black;
  border-radius:1vw 1vw 0vw 1vw;
  padding-right: 6.67vw;
}
#dealerButton{
  /* background-color: black; */
  border-radius:1vw 1vw 1vw 0vw;
  background:linear-gradient(to right, #870000 0%, #190a05 100%);
}
#dealer,#customer{
  padding:7vw 3.16vw ;
  background: linear-gradient(to right, #870000 0%, #190a05 100%);
  background: #101010;
  border-bottom:white;
  color: white;
  border-radius: 0vw 0vw 1vw 1vw;
}
#dealer:hover{
  box-shadow:0 45px 45px -20px rgb(143, 33, 33);
}
button{
        padding-left: 7vw;
    padding-right: 7.2vw;
    padding-top:0.9vw;
    padding-bottom:0.9vw; 
  border-radius: 0.5vw;
  margin-left: 2.5vw;
  margin-top: 2vw;
}
button:hover{
  border-radius:0.5vw cyan;
}
#type{
  display: none;
}
/* 
#dealer input,button{
  background-color:#101010;
} */
::placeholder { 
  color: cyan;
}
input[type=text],input[type=password] {

  box-sizing: border-box;
  border: none;
  /* background-color: #101010; */
  color: white;
  /* background-color:#101010; */
  height: 2vw;
  border-radius: 0.5vw;
  background-color: black;
  /* background: transparent; */
  /*border-bottom:1px white solid;*/ 
}
  
#noId{
  display: flex;
  justify-content: center;
}
a{
      color: green;
}
#img{
  display: inline-block;
}
#Error{
  font-size: 0.6vw;
  display: none;
  color: gray;
}
#username,#password{
  padding: 1vw;
}